USE [proje]
GO
/****** Object:  Table [dbo].[Bilgi]    Script Date: 16.12.2018 23:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bilgi](
	[bilgiId] [int] IDENTITY(1,1) NOT NULL,
	[resmiSiteler] [varchar](2044) NOT NULL,
	[ulke] [varchar](2044) NOT NULL,
	[yayinTarihi] [date] NOT NULL,
	[digerIsim] [varchar](2044) NOT NULL,
 CONSTRAINT [PK_Bilgi] PRIMARY KEY CLUSTERED 
(
	[bilgiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 16.12.2018 23:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[filmId] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nchar](50) NOT NULL,
	[konu] [nchar](1000) NOT NULL,
	[puan] [int] NOT NULL,
	[miktar] [int] NOT NULL,
	[ulkeId] [int] NULL,
	[turId] [int] NULL,
	[studyoId] [int] NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[filmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gise]    Script Date: 16.12.2018 23:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gise](
	[giseId] [int] IDENTITY(1,1) NOT NULL,
	[yerelHasilat] [money] NOT NULL,
	[globalHasilat] [money] NOT NULL,
	[butce] [money] NOT NULL,
	[acilisHasilat] [money] NOT NULL,
 CONSTRAINT [PK_Gise] PRIMARY KEY CLUSTERED 
(
	[giseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kisi]    Script Date: 16.12.2018 23:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kisi](
	[kisiId] [int] IDENTITY(1,1) NOT NULL,
	[isim] [varchar](2044) NOT NULL,
	[dogumTarihi] [date] NOT NULL,
	[olumTarihi] [date] NOT NULL,
	[ozgecmis] [varchar](2044) NOT NULL,
	[oduller] [varchar](2044) NOT NULL,
	[cinsiyet] [varchar](2044) NOT NULL,
 CONSTRAINT [PK_Kisi] PRIMARY KEY CLUSTERED 
(
	[kisiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oyuncu]    Script Date: 16.12.2018 23:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oyuncu](
	[oyuncuId] [int] IDENTITY(1,1) NOT NULL,
	[karakterId] [int] NOT NULL,
	[takmaAdi] [varchar](2044) NOT NULL,
 CONSTRAINT [PK_Oyuncu] PRIMARY KEY CLUSTERED 
(
	[oyuncuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatinAl]    Script Date: 16.12.2018 23:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatinAl](
	[islemId] [int] IDENTITY(1,1) NOT NULL,
	[filmId] [int] NOT NULL,
	[satinAlanId] [int] NOT NULL,
	[alimTarihi] [date] NULL,
 CONSTRAINT [PK_SatinAll] PRIMARY KEY CLUSTERED 
(
	[islemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Senarist]    Script Date: 16.12.2018 23:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Senarist](
	[senaristId] [int] IDENTITY(1,1) NOT NULL,
	[kitap] [varchar](2044) NOT NULL,
 CONSTRAINT [PK_Senarist] PRIMARY KEY CLUSTERED 
(
	[senaristId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Studyo]    Script Date: 16.12.2018 23:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studyo](
	[studyoId] [int] IDENTITY(1,1) NOT NULL,
	[sirektAdi] [nchar](200) NOT NULL,
	[kurulusTarihi] [date] NOT NULL,
	[yonetici] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Studyo] PRIMARY KEY CLUSTERED 
(
	[studyoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeknikOzellikler]    Script Date: 16.12.2018 23:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeknikOzellikler](
	[teknikOzelliklerId] [int] IDENTITY(1,1) NOT NULL,
	[sure] [int] NOT NULL,
	[ses] [varchar](2044) NOT NULL,
	[goruntu] [varchar](2044) NOT NULL,
	[cerceve] [varchar](2044) NOT NULL,
 CONSTRAINT [PK_TeknikOzellikler] PRIMARY KEY CLUSTERED 
(
	[teknikOzelliklerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tur]    Script Date: 16.12.2018 23:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tur](
	[turId] [int] IDENTITY(1,1) NOT NULL,
	[tur] [varchar](2044) NOT NULL,
	[aciklama] [varchar](2044) NOT NULL,
 CONSTRAINT [PK_Tur] PRIMARY KEY CLUSTERED 
(
	[turId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16.12.2018 23:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nchar](10) NULL,
	[password] [nchar](10) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yonetmen]    Script Date: 16.12.2018 23:36:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yonetmen](
	[yonetmenId] [int] IDENTITY(1,1) NOT NULL,
	[filmografi] [varchar](2044) NOT NULL,
 CONSTRAINT [PK_Yonetmen] PRIMARY KEY CLUSTERED 
(
	[yonetmenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bilgi]  WITH CHECK ADD  CONSTRAINT [FK_Bilgi_Bilgi] FOREIGN KEY([bilgiId])
REFERENCES [dbo].[Bilgi] ([bilgiId])
GO
ALTER TABLE [dbo].[Bilgi] CHECK CONSTRAINT [FK_Bilgi_Bilgi]
GO
